/*Fonts*/

/* &display=swap&subset=cyrillic-ext */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,italic,500,700,900&display=swap&subset=cyrillic-ext");

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   border: 0;
   box-sizing: border-box;
}
li {
   list-style: none;
}
a,
a:visited {
   text-decoration: none;
}
a:hover {
   text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: inherit;
   font-size: inherit;
}
img {
   vertical-align: top;
}
html,
body {
   height: 100%;
   background-color: #e5e5e5;
}
html {
   font-size: 16px;
}
body {
   line-height: 1;
   font-weight: 400;
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   color: #858585;
}
.wrapper {
   min-height: 100%;
   overflow: hidden;
   background: #202124;
}

/* --------------- */

.container {
   max-width: 895px;
   margin: 0px auto;
}

/*---------------HEADER---------------*/
.header {
   border-bottom: 2px solid #303134;
}
.header__container {
   padding: 30px 5px 0px 5px;
}
.container {
   padding-left: 40px;
}
.header-logo {
   display: inline-block;
}
.header-logo:hover .go-link {
   opacity: 0;
   visibility: hidden;
}
.logo {
   text-transform: capitalize;
   color: rgb(231, 231, 231);
   font-size: 30px;
   font-weight: 500;
   padding: 0px 50px 0px 20px;
}

.logo:focus {
   outline: none;
   border: 1px dotted #fff;
   border-radius: 50px;
}
.logo:active {
   color: rgb(199, 199, 13);
}
.header-search {
   display: inline-block;
   padding: 16px;

   border-radius: 50px;
   min-width: 900px;
   margin-bottom: 30px;
   background: #303134 url("../img/icon/header_google/search1.png") 865px center / 18px 18px no-repeat;
}
.search {
   display: inline-block;
   color: rgb(231, 231, 231);
   min-height: 16px;
}

.menu {
}
.link-all {
   background: url("../img/icon/header_google/searchclorfull.png") 0 center no-repeat;
   padding-left: 20px;
}
.link-map {
   background: url("../img/icon/header_google/location.png") 0 center no-repeat;
   padding-left: 20px;
}
.link-video {
   background: url("../img/icon/header_google/youtube2.png") 0 center no-repeat;
   padding-left: 20px;
}

.link-picture {
   background: url("../img/icon/header_google/image2.png") 0 center no-repeat;
   padding-left: 20px;
}

.link-buy {
   background: url("../img/icon/header_google/price-tag.png") 0 center no-repeat;
   padding-left: 20px;
}

.link-threedots {
   background: url("../img/icon/header_google/three-dots2.png") 0 center no-repeat;
   padding-left: 20px;
}
.list {
   font-size: 0;
}
.item::after {
   content: "";
   opacity: 0;
   visibility: hidden;
   display: block;
   width: 100%;
   height: 3px;
   margin-top: 17px;
   background: cornflowerblue;
}
.item:hover::after {
   content: "";
   display: block;
   opacity: 1;
   visibility: visible;
   width: 100%;
   height: 3px;
   background: cornflowerblue;
}
.item {
   font-size: 16px;
   display: inline-block;
}
.link {
   vertical-align: top;
   color: #858585;
}
.item:not(:last-child) {
   margin-right: 25px;
}
.item:nth-child(7) {
   margin-left: 35px;
}
/*---------------MAIN-----------------*/
.click-target {
   color: rgba(251, 0, 0, 0.6);
}
.fun {
   display: inline-block;
   display: none;
}
.fun:target {
   display: inline-block;
}
.google-body {
}
.total-info {
   padding: 20px 0px 30px 0px;
}
.googl-results {
   margin-bottom: 20px;
}
.google-link {
   margin-bottom: 17px;
}
.googl-title {
   margin-bottom: 17px;
}
.visited {
   color: #4285f4;
}
.visited:visited {
   color: rgb(149, 84, 168);
}
.visited:hover {
   text-decoration: underline;
}
.visited:focus {
   outline: none;
   border: 1px dotted #fff;
}
.visited-two:visited {
   color: rgb(149, 84, 168);
}
.visited-two:hover {
   text-decoration: underline;
}
.visited-two:focus {
   outline: none;
   border: 1px dotted #fff;
}
.googl-results-two {
   padding-left: 20px;
   margin-bottom: 40px;
}
.googl-title-two {
   margin-bottom: 17px;
}
.google-link-two {
   margin-bottom: 17px;
}

.firstchild-text * {
   margin-bottom: 40px;
}
.firstchild-text *:last-child {
   margin-bottom: 0px;
}
.firstchild-text p:first-child {
   color: #4285f4;
}
.googl-title-news a {
   color: #4285f4;
}
.googl-title-news {
   margin-bottom: 20px;
}
.firstlastchild-content span:first-of-type {
   color: #4285f4;
}

.firstlastchild-content *:first-child {
   color: rgb(149, 84, 168);
}
.firstlastchild-content *:first-child {
   color: rgb(149, 84, 168);
}

.lastchild-text * {
   margin-bottom: 20px;
}
.lastchild-text *:last-child {
   margin-bottom: 0px;
}
.lastchild-text *:last-child {
   color: rgb(149, 84, 168);
}
.lastchild-text span:last-of-type {
   color: #4285f4;
}
.li-num li:not(:last-child) {
   margin-bottom: 10px;
}
.li-num {
   counter-reset: item;
   max-width: 400px;
   padding: 15px;
   font-size: 20px;
   margin-bottom: 20px;
}
.li-num li {
   padding-left: 28px;
}
.li-num li::before {
   counter-increment: item;
   content: counter(item) ")";
   display: inline-block;
   color: #4285f4;
   vertical-align: top;
   margin: 0px 10px 0px -28px;
}
.news {
   font-size: 0;
   padding: 20px;
   margin-bottom: 20px;
}
.pointnews {
   max-width: 400px;
   display: inline-block;
}
.pointnews li {
   padding-left: 22px;
   font-size: 20px;
}
.pointnews li::before {
   content: "";
   vertical-align: top;
   display: inline-block;
   width: 12px;
   height: 12px;
   margin: 3px 10px 0px -22px;
   border-radius: 50%;
   background-color: #858585;
}

.pointnews li:hover::before {
   content: "";
   display: inline-block;
   vertical-align: top;
   width: 12px;
   height: 12px;
   margin: 3px 12px 0px -22px;
   border-radius: 0px;
   background-color: rgb(149, 84, 168);
}

.pointnews li:not(:last-child) {
   margin: 0px 0px 20px 0px;
}
.nthchild-num {
   margin-bottom: 25px;
}
.nthchild-num *:nth-child(4) {
   color: #4285f4;
}
.nthchild-odd {
   margin-bottom: 20px;
}
.nthchild-odd *:not(:last-child) {
   margin-bottom: 20px;
}
.nthchild-odd p:nth-child(odd) {
   color: #fff;
}
.nthchild-odd p:nth-child(2),
p:nth-child(4) {
   color: #4285f4;
}
.nthchild-even {
   margin-bottom: 30px;
}
.nthchild-even *:not(:last-child) {
   margin-bottom: 25px;
}
.nthchild-even p:nth-child(even) {
   color: yellow;
}

.nthchild-num p:nth-child(1):hover {
   color: rgb(149, 84, 168);
}
.nthchild-num *:not(:last-child) {
   margin: 0px 0px 40px 0px;
}
.first-line {
   margin-bottom: 30px;
}
.first-line *:not(:last-child) {
   margin-bottom: 25px;
}
.first-line p:first-child::first-line {
   color: rgb(149, 84, 168);
}
.first-line p:nth-child(2)::first-letter {
   color: red;
   font-size: 70px;
}
.after {
   padding: 20px 0px 0px 20px;
   display: inline-block;
   font-size: 30px;
   margin-bottom: 40px;
   font-weight: 700;
}

.after::after {
   content: "";
   display: block;
   margin-top: 15px;
   height: 2px;
   width: 60%;
   background: #fff;
}
.after:hover::after {
   content: "";
   height: 2px;
   background: #fff;
   width: 100%;
   display: block;
}

/*block practice*/
.block-choose {
   padding: 50px 0px 50px 0px;
}
.choose-body {
   padding: 24px 24px 60px 24px;
   max-width: 255px;
   border: 1px solid #fff;
   margin: 0 auto;
   border-radius: 6px;
}
.bodytitle {
   font-weight: normal;
   font-size: 22px;
   line-height: 26px;
   letter-spacing: -0.275px;
   text-transform: capitalize;
   color: #ffffff;
   margin-bottom: 24px;
}
.bodytitle::after {
   content: "";
   margin-top: 10px;
   display: block;
   width: 27%;
   height: 2px;
   background: #34c759;
}
.bodytitle:hover::after {
   content: "";
   display: block;
   width: 100%;
   height: 2px;
   background: #34c759;
}
.bodytext {
   font-weight: normal;
   font-size: 13px;
   line-height: 18px;
   letter-spacing: -0.1625px;
   color: rgba(255, 255, 255, 0.5);
}
.ourpromise {
   max-width: 1020px;
   margin: 0 auto;
   padding: 86px 0px 122px 0px;
   background: #f5f5f5;
   font-family: "Roboto", sans-serif;
}
.block-text *:last-child {
   margin-bottom: 0;
}
.title {
   font-weight: 700;
   font-size: 12px;
   line-height: 27px;
   letter-spacing: 2.5px;
   text-transform: uppercase;
   color: #5d62b5;
   padding-left: 32px;
   margin-bottom: 33px;
   background: url("../img/block_one/OverlineMark.svg") 0 0 no-repeat;
}
.main-text {
   font-weight: 900;
   font-size: 36px;
   line-height: 42px;
   color: #000000;
   margin-bottom: 33px;
}
.block-cards {
   font-size: 0;
   padding-top: 68px;
}

.cards {
   display: inline-block;
   max-width: 340px;
   vertical-align: top;
   padding-right: 16px;
}

.icon {
   display: inline-block;
   width: 86px;
   height: 63px;
   vertical-align: top;
}
.icon::before {
   content: "";
   display: block;
   width: 63px;
   height: 63px;
}
.crard-body {
   display: inline-block;
   width: 238px;
   vertical-align: top;
}
.card-title {
   font-weight: 900;
   font-size: 19px;
   line-height: 26px;
   color: #f2726f;
   margin-bottom: 20px;
}
.card-text {
   font-weight: 400;
   font-size: 16px;
   letter-spacing: 0.15px;
   color: #4b4b4b;
}

.card-one .icon::before {
   content: "";
   background: url("../img/block_one/dog_love_24x.png") 0 0 no-repeat;
}
.card-two .icon::before {
   content: "";
   background: url("../img/block_one/dog_vet_24x.png") 0 0 no-repeat;
}
.card-three .icon::before {
   content: "";
   background: url("../img/block_one/dog_stream_24x.png") 0 0 no-repeat;
}

/*----------------FOOTER--------------*/ ;
